@font-face {
  font-family: Virtual;
  src: url("../Fuentes/Virtual-Regular.ttf"); }

.encabezado {
  background-color: #c5cae7;
  margin-bottom: 15px; }

.encabezadoLogo {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 15px; }

#imagenLogo {
  width: 60px;
  height: 50px; }

.navbar-toggler {
  margin: 0px 20px 0px 0px; }

.navbar-brand {
  color: #4e5aa2;
  font-size: 50px;
  font-family: 'Virtual';
  font-weight: 500;
  text-align: left;
  margin: 30px 20px 10px 20px; }

.imagenLogo {
  width: 90px;
  height: 80px;
  position: relative;
  top: 40px;
  margin: 0px 0px 0px 35px; }

.navbar-nav {
  position: absolute;
  right: 26px;
  top: 93px;
  padding: 5px;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  background-color: #9ba2cb;
  z-index: 7000; }

.mainIndex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.mainParrafo {
  margin: 20px 50px;
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
  text-align: center;
  color: #4e5aa2;
  font-style: italic; }

.imagen1 {
  width: 350px;
  height: 250px; }

.piedePagina {
  padding: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #c5cae7; }

.Instagram {
  color: #d151e4; }

.Whatsapp {
  color: #00bb2d; }

.Subir {
  color: #dfe7f3; }

.mainNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 350px 600px 350px 350px;
  grid-template-areas: "tituloyparrafo" "mainImagen1y2" "antes" "despues";
  grid-row-gap: 10px;
  justify-items: center; }

/* Columna 1 Fila 1 */
.mainDiv1 {
  grid-area: "tituloyparrafo"; }

.mainTitulo {
  font-size: 30px;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2;
  margin: 20px 20px 20px 40px;
  text-align: center; }

.mainHistoria {
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  color: #9ba2cb;
  margin: 0px 40px 15px 40px;
  text-align: center; }

/* Columna 2 Fila 1 */
.mainDiv2 {
  grid-area: "mainImagen1y2";
  justify-content: center; }

.mainImagen1 {
  width: 400px;
  height: 270px;
  margin: 10px 20px; }

.mainImagen2 {
  width: 370px;
  height: 250px;
  margin: 10px 0px 10px 35px; }

/* Columna 1 Fila 2 */
.mainDivantes {
  grid-area: "antes"; }

.mainAntes {
  margin: 10px 10px 0px 10px;
  text-align: center;
  font-size: 28px;
  font-family: 'Covered By Your Grace', cursive;
  color: #4e5aa2; }

.mainImagen3 {
  width: 400px;
  height: 270px; }

/* Columna 2 Fila 2 */
.mainDivdespues {
  grid-area: "despues"; }

.mainDespues {
  margin: 5px 10px;
  text-align: center;
  font-size: 28px;
  font-family: 'Covered By Your Grace', cursive;
  color: #4e5aa2; }

.mainImagen4 {
  width: 400px;
  height: 270px; }

/* Aca arme 2 grids para que este mas organizado*/
.sectionNosotros {
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2;
  margin: 40px 60px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 2fr;
  grid-template-areas: "Malala Lalo";
  grid-column-gap: 10px; }

/* Seccion MALALA */
.Malala {
  grid-area: 'Malala'; }

.tituloMalala {
  text-align: center;
  font-size: 25px; }

.parrafoMalala {
  display: block;
  text-align: center; }

/* Seccion LALO */
.Lalo {
  grid-area: "Lalo"; }

.tituloLalo {
  text-align: center;
  font-size: 25px; }

.parrafoLalo {
  display: block;
  text-align: center; }

.piedePagina2 {
  padding: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #c5cae7; }

.mainServicios {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px 300px;
  grid-template-areas: "titulo" "tabla";
  justify-items: center;
  align-items: center; }

.tituloTabla {
  grid-area: "titulo";
  font-size: 30px;
  margin: 20px 20px 20px 40px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2; }

.tablaServicios {
  grid-area: "tabla";
  text-align: center;
  color: #4e5aa2;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  margin: 0px 0xp 15px 0px; }

.tableColumn1 {
  font-size: 15px; }

.tableColumn2 {
  font-size: 15px; }

.fila1 {
  background-color: #b7afc1; }

.fila3 {
  background-color: #b7afc1; }

.fila5 {
  background-color: #b7afc1; }

.seccionServ {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 250px;
  grid-template-areas: "tituloEstadia" "bulletlist"; }

.estadiaIncluye {
  grid-area: "tituloEstadia";
  margin: 30px 0px 0px 15px;
  color: #4e5aa2;
  font-size: 18px;
  font-family: 'Coming Soon', cursive; }

.bulletList {
  grid-area: "bulletlist";
  margin: 20px; }
  .bulletList li {
    margin: 10px;
    color: #4e5aa2;
    font-size: 14px;
    font-family: 'Coming Soon', cursive; }

.piedePagina3 {
  padding: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #c5cae7; }

.tituloGaleria {
  font-size: 30px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2;
  margin: 20px 20px 20px 40px; }

.collageGaleria {
  display: grid;
  grid-template-columns: 270px 100px 100px;
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "foto1 foto1 foto2" "foto1 foto1 foto3" "foto4 foto4 foto5"; }

.foto1 {
  height: 180px;
  width: 250px;
  grid-area: "foto1"; }

.foto2 {
  height: 70px;
  width: 90px;
  grid-area: "foto2"; }

.foto3 {
  height: 70px;
  width: 90px;
  grid-area: "foto3"; }

.foto4 {
  height: 200px;
  width: 320px;
  grid-area: "foto4"; }

.foto5 {
  height: 90px;
  width: 150px;
  grid-area: "foto5"; }

.piedePagina4 {
  padding: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #c5cae7; }

.tituloContacto {
  font-size: 30px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2;
  margin: 20px 20px 5px 40px; }

.textoConsultas {
  font-size: 22px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2;
  margin: 10px 20px; }

.gridContacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 650px 350px;
  grid-template-areas: "formulario" "logo";
  justify-items: center; }

.formulario1 {
  grid-area: "formulario";
  font-size: 18px;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2; }

.labelNom {
  display: block;
  margin: 5px 10px; }

.boxNom {
  display: block;
  margin: 5px 10px; }

.labelTel {
  display: block;
  margin: 10px 10px 5px 10px; }

.boxTel {
  display: block;
  margin: 5px 10px; }

.labelEmail {
  display: block;
  margin: 10px 10px 5px 10px; }

.boxEmail {
  display: block;
  margin: 5px 10px; }

.labelMens {
  display: block;
  margin: 10px 10px 5px 10px; }

.boxMens {
  display: block;
  margin: 5px 10px; }

.botonEnviar {
  margin: 10px 5px 5px 10px; }

.botonBorrar {
  margin: 10px 5px 5px 5px; }

.botonNada {
  margin: 10px 5px 5px 5px; }

.logoFrase {
  grid-area: "logo"; }

.fotoContacto {
  z-index: 500;
  height: 200px; }

.fontLogo {
  font-family: "Virtual";
  font-size: 55px;
  text-align: center;
  color: #4e5aa2; }

.piefotoContacto {
  font-size: 18px;
  font-family: 'Coming Soon', cursive;
  color: #4e5aa2;
  margin: 20px;
  text-align: center; }

.piedePagina5 {
  padding: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #c5cae7; }

@media screen and (min-width: 768px) {
  /* Header de todas las pagins*/
  .encabezadoLogo {
    flex-flow: row wrap; }
  .navbar-brand {
    font-size: 60px; }
  #imagenLogo {
    width: 80px;
    height: 60px; }
  .navbar-nav {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 109px; }
  /* index */
  .mainParrafo {
    font-size: 20px; }
  .imagen1 {
    width: 700px;
    height: 500px; }
  .piedePagina {
    font-size: 20px; }
  /* Nosotros */
  .mainTitulo {
    font-size: 40px; }
  .mainHistoria {
    font-size: 20px; }
  /* No entiendo porque mainImagen1 y mainImagen2 no se centran si yo ya puse justify-items:center */
  .mainImagen1 {
    width: 500px;
    height: 300px;
    position: relative;
    left: 110px; }
  .mainImagen2 {
    width: 380px;
    height: 200px;
    position: relative;
    left: 150px; }
  .mainImagen3 {
    width: 500px;
    height: 300px; }
  .mainImagen4 {
    width: 500px;
    height: 300px; }
  .piedePagina2 {
    font-size: 20px; }
  /* Servicios */
  .mainServicios {
    grid-template-rows: 100px 400px; }
  .tituloTabla {
    font-size: 40px; }
  .tablaServicios {
    font-size: 20px; }
  .tableColumn1 {
    font-size: 22px; }
  .tableColumn2 {
    font-size: 22px; }
  .seccionServ {
    grid-template-rows: 70px 250px; }
  .estadiaIncluye {
    font-size: 22px;
    position: relative;
    left: 110px; }
  .bulletList li {
    font-size: 18px;
    position: relative;
    left: 140px; }
  .piedePagina3 {
    font-size: 20px; }
  /* Galeria */
  .tituloGaleria {
    font-size: 40px; }
  .texto1 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto2 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto3 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto4 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto5 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto6 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto7 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto8 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto9 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto10 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto11 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto12 {
    margin: 10px 25px;
    font-size: 30px; }
  .texto13 {
    margin: 10px 25px;
    font-size: 30px; }
  .piedePagina4 {
    font-size: 20px; }
  /* Contacto */
  .tituloContacto {
    font-size: 40px; }
  .textoConsultas {
    font-size: 25px; }
  .piedePagina5 {
    font-size: 20px; } }

@media screen and (min-width: 992px) {
  /* Header de todas las paginas*/
  #encabezado {
    display: grid;
    grid-template-columns: repeat(2, 510px);
    grid-template-rows: 100%;
    grid-template-areas: "Logo Menu"; }
  .encabezadoLogo {
    grid-area: "Logo"; }
  #imagenLogo {
    margin: 0px 0px 0px 10px;
    width: 100px;
    height: 80px; }
  .navbar-brand {
    font-size: 70px;
    margin: 25px 20px 10px 10px; }
  .navbar-nav {
    background-color: transparent;
    grid-area: "Menu";
    position: absolute;
    top: 70px; }
  .navbar-nav li {
    font-size: 25px; }
  /* Index */
  .imagen1 {
    width: 1000px;
    height: 700px; }
  .mainParrafo {
    font-size: 25px;
    margin: 20px 150px; }
  .piedePagina {
    font-size: 20px; }
  /* Nosotros */
  .mainNosotros {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 4fr 3fr;
    grid-template-areas: "tituloyparrafo mainImagen1y2" "antes despues";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: center; }
  .mainTitulo {
    font-size: 50px; }
  .mainHistoria {
    font-size: 25px; }
  .mainImagen1 {
    width: 500px;
    height: 330px;
    position: unset; }
  .mainImagen2 {
    width: 400px;
    height: 250px;
    margin: 5px 0px 10px 70px;
    position: unset; }
  .mainImagen3 {
    width: 550px;
    height: 450px; }
  .mainImagen4 {
    width: 550px;
    height: 450px; }
  .piedePagina2 {
    font-size: 20px; }
  /* Servicios */
  .tituloTabla {
    font-size: 50px; }
  .tablaServicios {
    font-size: 25px; }
  .tableColumn1 {
    font-size: 30px; }
  .tableColumn2 {
    font-size: 30px; }
  .estadiaIncluye {
    font-size: 27px; }
  .bulletList li {
    font-size: 20px; }
  .piedePagina3 {
    font-size: 20px; }
  /* Galeria */
  .tituloGaleria {
    font-size: 50px; }
  .texto1 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto2 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto3 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto4 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto5 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto6 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto7 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto8 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto9 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto10 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto11 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto12 {
    margin: 20px 40px;
    font-size: 35px; }
  .texto13 {
    margin: 20px 40px;
    font-size: 35px; }
  .piedePagina4 {
    font-size: 20px; }
  /* Contacto */
  .tituloContacto {
    font-size: 50px; }
  .textoConsultas {
    font-size: 30px;
    margin-bottom: 30px; }
  .gridContacto {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 580px;
    grid-template-areas: "formulario logo";
    justify-content: center;
    align-items: center; }
  .formulario1 {
    grid-area: "formulario"; }
  .logoFrase {
    grid-area: "logo"; }
  .piedePagina5 {
    font-size: 20px; } }
