.tituloGaleria{
    font-size: 30px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    color: $Violeta;
    margin: 20px 20px 20px 40px;
}

.collageGaleria{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100px 95px 140px;
    grid-template-areas: 
    "foto1 foto2"
    "foto1 foto3"
    "foto5 foto4";
}

.foto1{
    @include size(250px, 180px);
    grid-area: "foto1";
    padding-left: 20px;
}

.foto2{
    @include size (120px, 80px);
    grid-area: "foto2";
}

.foto3{
    @include size (120px, 80px);
    grid-area: "foto3";
    position: absolute;
    left: 277px;
}

.foto4{
    @include size(170px, 110px);
    grid-area: "foto4";
    position: absolute;
    top: 427px;    
    right: 20px;
}

.foto5{
    @include size (200px, 110px);
    grid-area: "foto5";
    margin-left: 20px;
}

.piedePagina4{
    padding: 30px;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Coming Soon', cursive;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: $Celeste;
}

$links: (
    Instagram: $Rosita,
    Whatsapp: $Verdewpp,
    Subir: $Blanquito,
);

@each $key, $valor in $links{
    .#{$key}{
        color: $valor;
    }
}