.tituloGaleria{
    font-size: 30px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    color: $Violeta;
    margin: 20px 20px 20px 40px;
}

.collageGaleria{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100px 95px 140px;
    grid-template-areas: 
    "foto1 foto2"
    "foto1 foto3"
    "foto5 foto4";
}

.foto1{
    height: 180px;
    width: 250px;
    grid-area: "foto1";
    padding-left: 20px;
}

.foto2{
    height: 80px;
    width: 120px;
    grid-area: "foto2";
}

.foto3{
    height: 80px;
    width: 120px;
    grid-area: "foto3";
    position: absolute;
    left: 277px;
}

.foto4{
    height: 110px;
    width: 170px;
    grid-area: "foto4";
    position: absolute;
    top: 427px;    
    right: 20px;
}

.foto5{
    height: 110px;
    width: 200px;
    grid-area: "foto5";
    margin-left: 20px;
}

.piedePagina4{
    padding: 30px;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Coming Soon', cursive;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: $Celeste;
}