
.mainIndex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mainParrafo{
    margin: 20px 50px;
    font-family: 'Coming Soon', cursive;
    font-size: 15px;
    text-align: center;
    color: $Violeta;
    font-style: italic;
}

.imagen1{
    width: 350px;
    height: 250px;
}

.piedePagina{
    padding: 30px;
    margin-top: 15px;
    font-size: 10px;
    font-family: 'Coming Soon', cursive;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: $Celeste;
}

$links: (
    Instagram: $Rosita,
    Whatsapp: $Verdewpp,
    Subir: $Blanquito,
);

@each $key, $valor in $links{
    .#{$key}{
        color: $valor;
    }
}
