@media screen and (min-width: 768px){
    /* Header de todas las pagins*/
    .encabezadoLogo{
        flex-flow: row wrap;
    }
    .navbar-brand{
        font-size: 60px;
    }
    #imagenLogo{
        width: 80px;
        height: 60px;
    }
    .navbar-nav{
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 109px;
    }
    /* index */
    .mainParrafo{
        font-size: 20px;
    }
    .imagen1{
        width: 700px;
        height: 500px;
    }
    .piedePagina{
        font-size: 20px;
    }
    /* Nosotros */
    .mainTitulo{
        font-size: 40px;
    }
    .mainHistoria{
        font-size: 20px;
    } 
    /* No entiendo porque mainImagen1 y mainImagen2 no se centran si yo ya puse justify-items:center */
    .mainImagen1{
        width: 500px;
        height: 300px;
        position: relative;
        left: 110px;
    }
    .mainImagen2{
        width: 380px;
        height: 200px;
        position: relative;
        left: 150px;
    }
    .mainImagen3{
        width: 500px;
        height: 300px;
    }
    .mainImagen4{
        width: 500px;
        height: 300px;
    }
    .piedePagina2{
        font-size: 20px;
    }
    /* Servicios */
    .mainServicios{
        grid-template-rows: 100px 400px;
    }
    .tituloTabla{
        font-size: 40px;
    }
    .tablaServicios{
        font-size: 20px;
    }
    .tableColumn1{
        font-size: 22px;
    }
    .tableColumn2{
        font-size: 22px;
    }
    .seccionServ{
        grid-template-rows: 70px 250px;
    }
    .estadiaIncluye{
        font-size: 22px;
        position: relative;
        left: 110px;
    }
    .bulletList li{
        font-size: 18px;
        position: relative;
        left: 140px;
    }
    .piedePagina3{
        font-size: 20px;
    }
    /* Galeria */
    .tituloGaleria{
        font-size: 40px;
    }
    .collageGaleria{
        grid-template-rows: 175px 175px 300px;
    }
    .foto1{
        @include size (470px, 325px);
    }
    .foto2{
        @include size (230px, 150px);
    }
    .foto3{
        @include size (230px, 150px);
        left: 500px;
    }
    .foto4{
        @include size (310px, 220px);
        top: 608px;
        right: 40px;
    }
    .foto5{
        @include size (380px, 220px);
    }
    .piedePagina4{
        font-size: 20px;
    }
    /* Contacto */
    .tituloContacto{
        font-size: 40px;
    }
    .textoConsultas{
        font-size: 25px;
    }
    .piedePagina5{
        font-size: 20px;
    }
}