$Lilamuyclarito: rgb(183, 175, 193);
$Lila: rgb(155, 162, 203);
$Violeta: rgb(78, 90, 162);
$Celeste: rgb(197, 202, 231);
$Blanquito: rgb(223, 231, 243);
$Rosita: rgb(209, 81, 228);
$Verdewpp: #00bb2d;
@font-face { font-family: Virtual; src: url('../Fuentes/Virtual-Regular.ttf'); } 

.encabezado{
    background-color: $Celeste;
    margin-bottom: 15px;
}

.encabezadoLogo{
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 15px;
}

#imagenLogo{
    width: 60px; 
    height: 50px;
}

.navbar-toggler{
    margin: 0px 20px 0px 0px;
}

.navbar-brand{
    color: $Violeta;
    font-size: 50px;
    font-family: 'Virtual';
    font-weight: 500;
    text-align: left;
    margin: 30px 20px 10px 20px;
}

.imagenLogo{
    width: 90px;
    height: 80px;
    position: relative;
    top: 40px;
    margin: 0px 0px 0px 35px;
}

.navbar-nav{
    position: absolute;
    right: 26px;
    top: 93px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Coming Soon', cursive;
    background-color: $Lila;
    z-index: 7000;
}

@mixin size ($width, $height){
    height: $height;
    width: $width;
}

@import "index";
@import "nosotros";
@import "servicios";
@import "galeria";
@import "contacto";
@import "tabletscreen";
@import "desktopscreen";
